<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: User.new, url: user_registration_path, local: true do |f| %>
          <div class="form-floating mb-3">
            <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
            <label for="user_name">Name</label>
          </div>
          <div class="form-floating mb-3">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
            <label for="user_email">Email</label>
          </div>
          <div class="form-floating mb-3">
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
            <label for="user_password">Password</label>
          </div>
          <div class="form-floating mb-3">
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>
            <label for="user_password_confirmation">Confirm Password</label>
          </div>
          <%= f.submit 'Register', class: 'btn btn-primary w-100' %>
        <% end %>
      </div>
    </div>
  </div>
</div>