<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <!-- Left Side: Search Icon and Shipping & Language Button -->
    <div class="col-md-3 d-flex align-items-center">
      <!-- Store Icon -->
      <%= link_to stores_path, class: 'btn btn-outline-dark me-3' do %>
        <i class="bi bi-shop"></i>
      <% end %>

      <!-- Shipping & Language Button -->
      <button class="btn btn-outline-dark me-3" id="countrySelector" data-toggle="modal" data-target="#countryModal">
        <i class="bi bi-globe"></i>
      </button>

      <!-- Search Icon -->
      <button class="btn btn-outline-dark me-3" id="searchToggle">
        <i class="bi bi-search"></i>
      </button>
    </div>

    <!-- Center: Brand Logo -->
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <%= link_to root_path, class: 'd-inline-flex link-body-emphasis text-decoration-none' do %>
        <img src="/assets/logo.png" alt="Everglow Cosmetics" class="me-2" style="height: 40px;">
      <% end %>
    </div>

    <!-- Right Side: Links and Icons -->
    <div class="col-md-3 text-end">

      <!-- Cart Icon -->
      <%= link_to cart_path, class: 'btn btn-outline-dark me-2' do %>
        <i class="bi bi-cart"></i>
      <% end %>

      <!-- Favourite/Love Icon -->
      <%= link_to favorites_path, class: 'btn btn-outline-dark me-2' do %>
        <i class="bi bi-heart"></i>
      <% end %>

      <!-- Orders Icon -->
      <% if user_signed_in? %>
        <%= link_to orders_path, class: 'btn btn-outline-dark me-2' do %>
          <i class="bi bi-receipt"></i> <%# Bootstrap receipt icon for orders %>
        <% end %>
      <% end %>

      <!-- Sign In/Sign Up Dropdown -->
      <% if user_signed_in? %>
      <div class="btn-group">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person"></i> Account
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <%= render 'shared/account_links' %>
        </ul>
      </div>
      <% else %>
        <div class="btn-group">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#signInModal">Sign In</button>
            </li>
            <li>
              <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </header>
</div>



<!-- Include the Sign In Modal -->
<%= render 'shared/modals/sign_in_modal' %>

<!-- Include the Register Modal -->
<%= render 'shared/modals/register_modal' %>

<!-- New Navbar for Categories -->
<div class="container-fluid px-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container-fluid justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "All Products", products_path, class: 'nav-link px-3' %>
        </li>
        <li class="nav-item">
          <%= link_to "New Products", products_path(filter: 'new'), class: 'nav-link px-3' %>
        </li>
        <li class="nav-item">
          <%= link_to "Recently Updated", products_path(filter: 'recently_updated'), class: 'nav-link px-3' %>
        </li>
        <li class="nav-item">
          <%= link_to "Makeup", products_path(category: 'makeup'), class: 'nav-link px-3' %>
        </li>
        <li class="nav-item">
          <%= link_to "Skincare", products_path(category: 'skincare'), class: 'nav-link px-3' %>
        </li>
        <li class="nav-item">
          <%= link_to "Pencil", products_path(category: 'pencil'), class: 'nav-link px-3' %>
        </li>
        <li class="nav-item">
          <%= link_to "Lipsticks", products_path(category: 'lipstick'), class: 'nav-link px-3' %>
        </li>
        <li class="nav-item">
          <%= link_to "Liquid", products_path(category: 'liquid'), class: 'nav-link px-3' %>
        </li>
        <li class="nav-item">
          <%= link_to "Powder", products_path(category: 'powder'), class: 'nav-link px-3' %>
        </li>
      </ul>
    </div>
  </nav>
</div>



<!-- Hidden Search Bar in the Next Row -->
<div class="container mt-4 d-none search-bar-container" id="searchBarRow">
  <form class="d-flex justify-content-center align-items-center row g-3" action="<%= search_products_path %>" method="get">
    <button class="btn btn-outline-danger col-auto" id="searchClose">
      <i class="bi bi-x"></i>
    </button>
    <div class="col-md-6">
      <input class="form-control" type="search" name="query" placeholder="Search products..." aria-label="Search">
    </div>
    <div class="col-md-4">
      <select name="category" class="form-control">
        <option value="">All Categories</option>
        <% Category.pluck(:name).each do |category| %>
          <option value="<%= category.downcase %>"><%= category %></option>
        <% end %>
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-outline-dark w-100" type="submit">Search</button>
    </div>
  </form>
</div>

<!-- Include the Country and Language Modal -->
<%= render 'shared/modals/country_modal' %>