<div class="container">
  <h2 class="text-center mb-4 mt-4">Your Past Orders</h2>

  <% if @orders.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Total Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.created_at.strftime("%B %d, %Y") %></td>
            <td><%= number_to_currency(order.total_price) %></td>
            <td><%= link_to "View Details", order_path(order), class: "btn btn-primary btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="d-flex justify-content-center">
      <%= paginate @orders, theme: 'bootstrap-4' %>
    </div>
  <% else %>
    <p class="text-center text-muted">You have no past orders.</p>
  <% end %>
</div>