<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %><br>
      <%= image_tag product.image_url, alt: product.name, size: "150x150" if product.image_url.present? %><br>
      <strong>Price:</strong> $<%= product.price %><br>
      <strong>Stock:</strong> <%= product.stock_quantity %><br>
      <strong>Category:</strong> <%= product.category.name if product.category.present? %>
    </li>
    <hr>
  <% end %>
</ul>