<h1>Products</h1>

<% @products.each do |product| %>
  <div class="product">
    <h2><%= product.name %></h2>
    <% if product.image_url.present? %>
      <div class="product-image">
        <%= image_tag product.image_url, style: "width: 150px; height: auto;" %>
      </div>
    <% elsif product.image.attached? %>
      <div class="product-image">
        <%= image_tag url_for(product.image), style: "width: 150px; height: auto;" %>
      </div>
    <% else %>
      <p>No image available</p>
    <% end %>
    <p>Price: <%= number_to_currency(product.price) %></p>
    <p>Stock: <%= product.stock_quantity %></p>
    <%= link_to 'View Details', product_path(product) %>
  </div>
<% end %>